.pic {
    /* margin: 10px; demo spacing */
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
}

.arrow-left-pic {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #ffff;
}
.arrow-right-pic {
    border-top: 10px solid #fff;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
