.about-section {
    background: linear-gradient(
        180deg,
        #000000 0%,
        rgba(28, 28, 28, 0.479167) 151.51%,
        rgba(53, 53, 53, 0) 303.21%
    );
}

.section-text {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
}
.icon-text {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}
