.ingredients {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #e1e0e0;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.title:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.ingredient-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ingredient-item {
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  box-shadow: 0 0 50px rgba(139, 135, 135, 0.2);
  border-radius: 20px;
  cursor: pointer;
}
.ingredient-item:hover {
  transform: scale(1.05);
}

.ingredient-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ingredient-description {
  font-size: 16px;
  line-height: 1.5;
  color: #454444;
}

@media (max-width: 768px) {
  .ingredient-item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .ingredient-item {
    width: 100%;
  }
}
