.products {
    padding: 10px;
    min-height: 638px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.products-section-title {
    width: 377px;
    height: 51px;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    color: #000000;
}

.slider-container {
    position: relative;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
}

.product-list {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    min-height: 668px;
    width: 100%;
    justify-content: space-between;
    scroll-snap-type: x mandatory;
    margin: 0 auto;
}

.product-item {
    height: 22.0625rem;
    width: 21.77rem;
    margin: 20px;
    text-align: center;
    background: #ffffff;
    box-shadow: 19px 14px 77px rgba(0, 0, 0, 0.11);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product-price {
    font-size: 18px;
    color: #000000;
    font-family: "Arial";
    font-weight: 400;
}

.product-actions {
    margin-top: auto;
}

.wishlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: rgb(186, 186, 186);
    font-size: 40px;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.slider-arrow:focus {
    outline: none;
}

.slider-arrow:hover {
    color: rgba(0, 0, 0, 1);
}

.slider-arrow-left {
    left: 0;
    z-index: 1;
}

.slider-arrow-right {
    right: 0;
    z-index: 1;
}

/* Responsive Styles */

@media (max-width: 767px) {
    .products {
        min-height: auto;
        padding-bottom: 0;
    }

    .product-item {
        width: 100%;
        max-width: 320px;
    }

    .product-image {
        width: 70%;
    }

    .slider-container {
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-item {
        width: calc(50% - 20px);
    }
}
