.testimonials {
  padding: 10px;
  min-height: 528px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.section-title {
  width: 60%;
  height: 51px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 51px;
  color: #000000;
  margin-bottom: 0;
}

.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.slider-arrow-left {
  left: 10px;
}

.slider-arrow-right {
  right: 10px;
}

@media screen and (max-width: 768px) {
  .slider-container {
    flex-direction: column;
  }

  .slider-arrow {
    position: static;
    transform: none;
    margin-top: 10px;
  }
}
