.search-input {
    background: linear-gradient(
        270.37deg,
        #f9f9f9 -29.27%,
        rgba(249, 249, 249, 0) 191.25%
    );
    border-radius: 4px;
    outline: none;
    border: none;
}

.search-input::placeholder {
    color: black;
}
