.navbar-image {
    background-color: #1e1e1e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.special-navbar .special-logo {
    background-image: url("../../images/main_logo.png");
}

.logo .navbar-image {
    background-image: url("../../images/logo.jpg");
}

.navbar {
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.special-navbar {
    background-color: #1e1e1e;
}

.special-logo img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.search-bar .search-input {
    border: none;
    outline: none;
    padding: 7px;
    background: transparent;
    width: 100%;
    color: white;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.search-bar .search-input::placeholder {
    color: black;
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

.search-input::placeholder {
    margin-left: 20px;
}

.search-bar .search-icon {
    display: flex;
    align-items: center;
    margin: 6px;
    color: black;
    font-size: 24px;
}

.logo {
    text-align: left;
}

.logo img {
    max-width: 100%;
    height: auto;
    width: 160px;
    padding-top: 6px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu-toggle.open {
    transform: rotate(90deg);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-item a:hover {
    color: rgb(224, 224, 224);
}

.nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: rgb(224, 224, 224);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item a:hover::after {
    transform: scaleX(1);
}

.nav-item.active {
    border-bottom: 2px solid rgb(224, 224, 224);
    font-weight: bold;
}
.nav-item a.active {
    font-weight: bold;
}

.login_logo {
    margin-left: 15px;
}

.cart-icon {
    position: relative;
    font-size: 30px;
    color: rgb(242, 241, 241);
}

.cart-icon::after {
    /* content: ""; */
    position: absolute;
    top: -5px;
    right: -8px;
    width: 15px;
    height: 15px;
    background-color: grey;
    border-radius: 50%;
}

.cart-icon:hover::after {
    background-color: white;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
        order: -1;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        padding: 10px;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
