.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: black;
    color: white;
}

.navbar-image {
    background-color: #1e1e1e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo .navbar-image {
    background-image: url("../../images/logo.jpg");
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.menu-toggle.open {
    transform: rotate(90deg);
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item.active {
    position: relative;
    border-bottom: 2px solid #fff;
    font-weight: bold;
}

.nav-item.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background-color: #000;
}

.nav-item:not(.active):not(:hover) {
    border-bottom: 2px solid transparent;
}

.nav-item:not(.active):hover {
    border-bottom: 2px solid #000;
}

.nav-item.active:hover {
    border-bottom: 2px solid #fff;
}

.nav-item a {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.nav-item:not(.active) a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-item:not(.active) a:hover::after {
    transform: scaleX(1);
}

.search-input::placeholder {
    margin-left: 20px;
}

.cart-icon {
    position: relative;
    font-size: 30px;
    color: rgb(242, 241, 241);
}

.cart-icon::after {
    position: absolute;
    top: -5px;
    right: -8px;
    width: 15px;
    height: 15px;
    background-color: grey;
    border-radius: 50%;
}

.cart-icon:hover::after {
    background-color: white;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
        order: -1;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
        display: none;
        padding: 10px;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
